# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
*.iml

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Android
android/.gradle/
android/local.properties
android/**/key.properties
android/**/keystore.jks
*.jks

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.flutter-plugins-dependencies

# Linux/Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Web
web/.dart_tool/
web/build/
